<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs %>
    <script src="/javascripts/loader.js"></script>
    <script src="/controllers/competitions.js"></script>
  </head>
  <body>
    <% include templates/nav.ejs %>
    <div class="container" id="container">
      <h2>კონკურსები</h2>


		  <div id="comps" class="tab-pane fade in active">
		        <div class="row">
		            <div class="col-md-6">
		              <h4>კონკურსების სია</h4>
		            </div>
		            <div class="form-group col-sm-12">
		              <div class="form-inline form-right">
		                  <form class="createform">
		                      <label for="exampleInputEmail1">დასახელება:</label>
		                      <input type="text" name="title" class="form-control" placeholder="დასახელება"/>
		                      <label for="exampleInputEmail1">სარეგისტრაციო ლინკი:</label>
		                      <input type="text" name="link" class="form-control" placeholder="ლინკი"/>
		                      <button type="submit" class="btn btn-primary btn-md btnload" data-loading-text="Loading...">ახლის შექმნა</button>
		                  </form>
		              </div>
		          </div>
		      </div>
		        <table id="competitions" class="table table-striped">
		          <thead>
		            <tr>
		              <th class="col-md-6">დასახელება</th>
		              <th class="col-md-6">სარეგისტრაციო ლინკი</th>
		              <th class="col-md-1">ქმედება</th>
		            </tr>
		          </thead>
		          <tbody>
		            
		          </tbody>
		        </table>
		        <hr style="background-color:#337ab7;"/>
		  </div>
    </div>
  </body>
</html>
