<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs %>
    <script src="/javascripts/loader.js"></script>
    <script src="/controllers/meetings.js"></script>
  </head>
  <body>
    <% include templates/nav.ejs %>
    <div class="container">
      <h2 class="center">გაცნობითები</h2>

      <form class="col-sm-6 col-sm-offset-3" id="meetingForm" name="meet">
        <div class="form-group">
          <label for="date">თარიღი</label>
          <input type="text" name="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="info">ინფორმაცია</label>
          <textarea class="form-control" name="info" rows="5" id="info"></textarea>
        </div>
        <div class="form-group">
          <label for="link">სარეგისტრაციო ფორმის ლინკი</label>
          <input type="text" name="link" class="form-control" id="link">
        </div>
        <button id="btn" type="submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
  </body>
</html>
